# Базовые пакеты для Data Science и ML
# Укажите точные версии пакетов, которые вы используете в своем решении

# Базовые пакеты для Data Science и ML

# Основные для анализа данных
pandas==2.2.2
numpy== 2.1.3

# Машинное обучение и ранжирование
scikit-learn==1.6.1
lightgbm==4.6.0
catboost==1.2.8

# Глубокое обучение и NLP
torch==2.8.0
transformers==4.45.2
sentence-transformers==5.1.2

# Вспомогательные
tqdm==4.67.1
rank_bm25==0.2.2